<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/TynaHuynh">Tyna</a>. She is a fun-loving foodie on a mission to give restaraunt recommendations around the San Jose Area. She believes that food has the power to connect people of all walks of life. No matter what age, gender, or race you are--food is life. She hopes visitors of this page can add to the list that will then be shared with the rest of the world. Let's come together in the name of FOOD!
  </p>
  <br />
  <p>
    Together along with her page's visitors, she's compiled a great,big list of diverse restaraunt establishments around the San Jose area.
  </p>
  <p>
    If you're undecided about what to eat, want to try something new, or just want a spontaneous meal suggestion--look no further. Click <%=link_to "here", root_path %>
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Tyna.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Tyna Huynh</h2>
      <br />
      <p>
        Tyna is a Software Developer in training and a Full-time foodie.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />

